
/*Container for audio player*/
.playerControls{
	/* width: 480px; */
	height: 60px;
	margin: auto;
	margin-top: 50px;
    border: solid;
    display: flex;
    justify-content: space-between;
}
/* Play/Pause Button */
/* .playButton{
	height:60px;
	width: 60px;
    border: none;
    background-color: red;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
    outline:none;

} */


progress {
	background: rgba(0,0,0,.3);
    flex-grow: 1;
}

div.playerControls > * {
    align-self: center;
    margin: 0 .25em;
}